TS_AUTHKEY=tskey-auth-
# Seu domínio Tailnet (ex: SEU_TAILNET.ts.net)
TS_TAILNET=SEU_TAILNET.ts.net

PUID=1000
PGID=1000

WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=10.2.0.2/32
# SERVER_COUNTRIES=Canada
# WIREGUARD_ENDPOINT_IP=
WIREGUARD_PUBLIC_KEY=
# WIREGUARD_ENDPOINT_PORT=51820
